/.vs
/NetCoreSample/obj
/NetCoreSample/*.user
/NetCoreSample/.vscode
/NetCoreSample/bin
/*.gitignore
*.gitattributes
/NetCoreSample/node_modules
/NetCoreSample/package-lock.json
.vscode/launch.json
.vscode/tasks.json

NetCoreSample/appsettings.json
