/.vs
/NetCoreSample/obj
/NetCoreSample/*.user
/NetCoreSample/.vscode
/NetCoreSample/bin
*.gitattributes
/NetCoreSample/node_modules
/NetCoreSample/package-lock.json
.vscode/*
NetCoreSample/Postgresql.json
/NetCoreSample/Migrations
/NetCoreSample/DBconnection.json
