@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
<link rel="stylesheet" href="~/node_modules/fomantic-ui/dist/components/list.min.css" />
}

<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <hr />
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-2">
        <img class="circular--square" src="https://i.imgur.com/zP9nC2K.jpg" />
        <input id="PostContent" type="hidden" value="`/*興趣使然的工程師一枚OwO*/`">
        <div id="Page" class="pageContent markdown-body">
            <a href="https://github.com/YanagiSiki/NetCoreSample/">
                <svg class="octicon octicon-mark-github v-align-middle" height="32" viewBox="0 0 16 16" version="1.1"
                    width="32" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
            </a>
        </div>

    </div>

    <div class="col-md-3">
        <li>
            <h3>FrontEnd</h3>
            <ol class="ui list">
                <li value="-">jQuery</li>
                <li value="-">semantic UI</li>
                <li value="-">bootstrap</li>
                <li value="-">typehead.js</li>
                <li value="-">highlight.js</li>
                <li value="-">simplemde.js</li>
                <li value="-">anchor-js</li>
                <li value="-">github-markdown-css</li>
                <li value="-">typescript</li>
            </ol>
        </li>
    </div>

    <div class="col-md-3">
        <li>
            <h3>BackEnd</h3>
            <ol class="ui list">
                <li value="-">C# (.net core)</li>
                <li value="-">entity framework</li>
                <li value="-">linq</li>
                <li value="-">Cookie</li>
                <li value="-">jwt authentication</li>
            </ol>
        </li>
        <li>
            <h3>Database</h3>
            <ol class="ui list">
                <li value="-">mariadb</li>
                <li value="-">postgresql</li>
            </ol>
        </li>
    </div>

    <div class="col-md-3">
        <li>
            <h3>Deployment</h3>
            <ol class="ui list">
                <li value="-">Heroku</li>
                <li value="-">Github action</li>
                <li value="-">SonarCloud</li>
            </ol>
        </li>
    </div>

</div>
@section Scripts{
<script src="~/node_modules/simplemde/dist/simplemde.min.js"></script>
<script type="module" src="~/js/about.js"></script>
<script src="~/node_modules/fomantic-ui/dist/semantic.min.js"></script>
}