@model NetCoreSample.Models.Post

@{
  ViewData["Title"] = "Test";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
<link rel="stylesheet" href="~/dist/css/simplemde.min.css">
<link rel="stylesheet" href="~/css/typeaheadjs.css">
<link rel="stylesheet" href="~/dist/css/atom-one-light.css">
<link rel="stylesheet" href="~/css/markdown-custom.css" />
<link rel="stylesheet" href="~/dist/css/github-markdown.css" />
<link rel="stylesheet" href="~/dist/css/semantic.min.css" />
}


<div class="ui calendar" id="french_calendar">
  <div class="ui input left icon">
    <i class="calendar icon"></i>
    <input type="text" placeholder="Date/Time">
  </div>
</div>


@section Scripts{
<script src="~/dist/js/simplemde.min.js"></script>
<script src="~/js/test.js"></script>
<script src="~/dist/js/semantic.min.js"></script>

}
