@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <hr />
    </div>
    <div class="col-md-2">
        
    </div>
    <div class="col-md-2">
        <img class="circular--square" src="https://i.imgur.com/zP9nC2K.jpg" />
    </div>
    <div class="col-md-8">
        <input id="PostContent" type="hidden" value="`/*興趣使然的工程師一枚OwO*/`">
        <div id="Page" class="pageContent markdown-body"></div>
        
    </div>
</div>

@section Scripts{    
    <script src="~/node_modules/simplemde/dist/simplemde.min.js"></script>
    <script src="~/js/about.js"></script>   
}