@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    
}

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    我前示前流登比分而時
  </div>
  <div class="card-body">
    <p>容勢些造別，我說考仍運印能國觀？會廣模頭流費力物最空春是，快應們；的未形理或兒錯要求持而命，能理府選心麼考育這白每商人接一我基次告情時講本陸阿。機模了面流。價個為醫將長己樓的喜國，面技高全們報次不父出自，行大大方！信本委響的有入無吃和還表見那形色上方總廣，青比前軍目想一想果東低；局食。子親不盡壓得然名量之各員農，指座必動種失說展作兒首無處人一！細題日國爸一經省；戰該好實是正。斷共不政子甚的、內下文一其、和我展入地以與，長一讀，感作一金集加行之之義；親此。家情明！要去立人自於人，後的小放上，作業林苦何母去裡來布類業上因法我院主果總時風夫，國個在急時外快保；河坡我市的決，來小運留親增國……面以說文白該所行她登重基樣自本陽安究原種進，主果風盡上態去書喜後就起計老，大氣企顧是地權；住術合處上離是，業那子子我自喜供民格近式且的提。緊公媽來勢元克一條痛。保高黨，你不術工如是查青十：業的吸大事孩常火加可，和們二數叫古，明識他維行或至壓能的來他……頭再不必用作平銷！</p>
    <p class="text-right"><small class="text-muted ">Posted by Anonymous on 3/1/17</small></p>
    <hr>
    <a href="#" class="btn btn-success float-right">Leave a Review</a>
  </div>
</div>

<div class="card card-outline-secondary my-4">
  <div class="card-header">
    Product Reviews
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <a href="#" class="btn btn-success float-right">Leave a Review</a>
  </div>
</div>
<div class="row">
  <div id="pagination" data-total="10" data-maxVisible="10"></div>
</div>

@section Scripts{    
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script src="~/lib/jquery.simplePagination/jquery.simplePagination.js"></script>
    <script src="~/js/pagination.js"></script>
}