@model NetCoreSample.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" href="~/lib/github-markdown-css/github-markdown.css" />
}
<br>
<div class="row">
    <div class="col-md-12">
        <h2>@Model.PostTitle</h2>
        <div class="form-group" id="js-tags"></div>
    </div>
    
    <div class="col-md-12">
        <input asp-for="PostId" type="hidden">
        <input asp-for="UserId" type="hidden">
        <!-- <input id="PostId" value="@Model.PostId" type="hidden"> -->
        <!-- <input type="hidden" id="PostContent" data-contant="@Model.PostContent"> -->
        <input asp-for="PostId" type="hidden">
        <input asp-for="PostContent" type="hidden">
        <div id="Page" class="pageContent markdown-body"></div>
        <br>
        
    </div>
</div>

@section Scripts{    
    <script src="~/lib/simplemde/dist/simplemde.min.js"></script>
    <script src="~/js/tool.js"></script>
    <script src="~/js/post.js"></script>
}
