@model NetCoreSample.Models.Post

@{
    <!-- ViewData["Title"] = "Edit"; -->
    ViewData["Title"] = @Model.PostTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.min.css">
    <link rel="stylesheet" href="~/lib/highlight-js/src/styles/atom-one-light.css">
    <link rel="stylesheet" href="~/css/markdown-custom.css" />
    <link rel="stylesheet" href="~/lib/github-markdown-css/github-markdown.css" />
}

<div class="row">
    <div class="col-md-12" id="_Breadcrumb">
        <!-- 麵包屑導覽 -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><a>Post - @Model.PostId</a></li>
            </ol>
        </nav>
    </div>
    
    <div class="col-md-10">
        <h1>@Model.PostTitle</h1>
        <div class="form-group" id="js-tags"></div>
    </div>
    @{
        if(ViewBag.IsOwner){
            <div class="col-md-2">
                <a asp-controller="Home" asp-action="Edit" asp-route-postId="@Model.PostId" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        }
    }
    
    <div class="col-md-12">
        <input asp-for="PostId" type="hidden">
        <input asp-for="UserId" type="hidden">
        <input asp-for="PostContent" type="hidden">
        <div id="Page" class="pageContent markdown-body"></div>
        <br>
        
    </div>
</div>

@section Scripts{    
    <script src="~/lib/simplemde/dist/simplemde.min.js"></script>
    <script src="~/js/tool.js"></script>
    <script src="~/js/post.js"></script>
    <!-- <script src="~/lib/highlight-js/src/highlight.js"></script> -->
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="~/lib/highlightjs-line-numbers.js/src/highlightjs-line-numbers.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>hljs.initLineNumbersOnLoad();</script>
    
}
