<link href="~/css/sideBar.css" rel="stylesheet" />

<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a asp-area="" asp-controller="Home" asp-action="Index" class=""><h3>ExcelLab</h3></a>
    </div>

    <ul class="list-unstyled">
        @*<ul class="list-unstyled components">*@
        @{
            if (User.Identity.IsAuthenticated)
            {
                <p>@User.FindFirst("UserName").Value</p>
            }
        }
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>

        @*<li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Excel處理</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a asp-area="" asp-controller="Home" asp-action="WorkingInformation">查看工作佇列</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="DoExcel">處理Excel檔案</a></li>
            </ul>
        </li>*@
        @*<li>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </li>*@
    </ul>

    @*<ul class="list-unstyled CTAs">
        <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
    </ul>*@
</nav>

@*<nav id="sidebar">
    <div class="sidebar-header">
        <a asp-area="" asp-controller="Home" asp-action="Index" class=""><h3>NetCoreSample</h3></a>
    </div>

    <ul class="list-unstyled components">
        <p>Ya~</p>

        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Register">Register</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
            </ul>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
    </ul>
</nav>*@