/* ---------------------------------------------------
    MARKDOWN
----------------------------------------------------- */
.markdown-body {
    code, > code, pre{
        background: #282c34 !important;
        color: #abb2bf !important;
    }
    table {
        tr {
            background-color:  #282c34  !important;
            border-top: 1px solid #c6cbd1 !important;
        }
        .hljs-ln-code{
            width: 100%;
        }
    }
}