<!-- 登入後看到的navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="navbar-header">

            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                 <i class="fa-solid fa-bars"></i>
            </button>            
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-postId="">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
